// Fontawsome Icon
.d-icon {
    font-size: 1.2rem;
    width: 30px;
    text-align: center;
}

.d-text {
    padding-left: 2px;
}

.d-title {
    color: white;
    font-variant: small-caps;
    padding-left: 4px;
}